<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
<div class="contacts">
  $body$
  <div class="col-md-11 col-md-offset-1">
  <p><a href="https://github.com/shi2wei3"><i class="fa fa-github fa-lg fa-fw"></i>Github</p>
  <p><a href="http://stackoverflow.com/users/4320575/john-shi"><i class="fa fa-stack-overflow fa-lg fa-fw"></i>Stack Overflow</p>
  <p><a href="http://www.twitter.com/shi2wei3"><i class="fa fa-twitter fa-lg fa-fw"></i>Twitter</a></p>
  <p><a href="https://plus.google.com/u/0/117208712928353232644"><i class="fa fa-google-plus fa-lg fa-fw"></i>Google Plus</a></p>
  <p><a href="http://www.facebook.com/john.shi.904"><i class="fa fa-facebook fa-lg fa-fw"></i>Facebook</a></p>
  <p><a href="https://www.linkedin.com/profile/view?id=247399306"><i class="fa fa-linkedin fa-lg fa-fw"></i>Linkedin</a></p>
  <p><a href="https://www.flickr.com/photos/shi2wei3"><i class="fa fa-flickr fa-lg fa-fw"></i>Flickr</a></p>
  <p><a href="http://instagram.com/shi2wei3"><i class="fa fa-instagram fa-lg fa-fw"></i>Instagram</a></p>
  <p><a href="http://shi2wei3.wordpress.com"><i class="fa fa-wordpress fa-lg fa-fw"></i>Wordpress</a></p>
  <p><a href="http://weibo.com/shi2wei3"><i class="fa fa-weibo fa-lg fa-fw"></i>Sina Weibo</a></p>
  <p><a href="http://t.qq.com/shi2wei3"><i class="fa fa-tencent-weibo fa-lg fa-fw"></i>Tencent Weibo</a></p>
  <p><i class="fa fa-wechat fa-lg fa-fw"></i>@shi2wei3</p>
  <p><i class="fa fa-qq fa-lg fa-fw"></i>354635407</p>
  </div>
</div>
