<div class="foot-block foot-about">
  <div class="foot-head">About Me</div>
  I'm <a href="http://en.wikipedia.org/wiki/Linux">Linux</a> enthusiast living in Beijing, China.
  Currently employed in <a href="http://www.redhat.com">Red Hat</a> platform BU and
  working on virtualization products.
  <div class="foot-contact google-email"></div>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Pages</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="/index.html">Home</a>
    </li>
    <li class="foot-item">
      <a href="/news.html">News</a>
    </li>
    <li class="foot-item">
      <a href="/research.html">Research</a>
    </li>
    <li class="foot-item">
      <a href="/sharing.html">Sharing</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Projects</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="https://github.com/autotest/autotest">autotest</a>
    </li>
    <li class="foot-item">
      <a href="https://github.com/autotest/virt-test">virt-test</a>
    </li>
    <li class="foot-item">
      <a href="https://github.com/autotest/tp-libvirt">tp-libvirt</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Profiles</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="https://github.com/shi2wei3">GitHub</a>
    </li>
  </ul>
</div>

<div class="foot-madeby">
    <b>© Wei Shi</b> ,  Code licensed under <a rel="license" href="http://www.gnu.org/licenses/gpl-2.0.html">GPLv2</a> ,documentation under  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
</div>
